<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Model1" connectionString="data source=SERVERDB;initial catalog=CM_DB_2_TEST;user id=sa;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="CartellaOrtodontica.Properties.Settings.CM_INVOICEConnectionString"
      connectionString="Data Source=SERVERDB;Initial Catalog=CM_DB_2;User ID=sa;Password=Clinicasst2013"
      providerName="System.Data.SqlClient" />
    <add name="CM_INVOICEEntities" connectionString="metadata=res://*/Models.Modello.csdl|res://*/Models.Modello.ssdl|res://*/Models.Modello.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERDB;initial catalog=CM_DB_2;user id=sa;password=Clinicasst2013;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CM_INVOICEEntities1" connectionString="metadata=res://*/Models.Modello.csdl|res://*/Models.Modello.ssdl|res://*/Models.Modello.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERDB;initial catalog=CM_DB_2;user id=sa;password=Clinicasst2013;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="TemplateDocPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>